<html>
<head>
<title>{% block head_title %}People{% endblock head_title %}
</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"  crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


{% block head_extra %}{% endblock head_extra %}

</head>

<body>


<div class="container-fluid">
    <div class="row">
    <ol class="breadcrumb">
        <li><a href="{% url 'accounts:blogs-list' %}">Blogs</a></li>
        {% if request.user.is_authenticated %}
            <li><a href="{% url 'posts:post-list' id=request.user.id %}">My Posts</a></li>
            <li><a href="{% url 'posts:post-create' id=request.user.id %}">Create new post</a></li>
            <li><a href="{% url 'posts:following-blogs-posts-list' id=request.user.id %}">Posts Feed</a></li>
        {% endif %}

        {% if not request.user.is_authenticated %}
                <li class="pull-right"><a href="{% url 'accounts:login' %}">Login</a></li>
        {% else %}
                <li class="pull-right">{{ request.user.username }}</li>
                <li class="pull-right"><a href="{% url 'accounts:logout' %}">Logout</a></li>
        {% endif %}
    </ol>
    	{% block content %}{% endblock content %}
    </div>
</div>

<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  crossorigin="anonymous"></script>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"  crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js"></script>

</body>
</html>