<!DOCTYPE html>
<html>
    <head>
        <title>Continue Sign Up</title>
        <meta name="description" content="New post notification">
        <style>
          .email {
            font-size: 14px;
            color: #000000;
          }
          .email-title {
            font-size: 22px;
          }
        </style>
    </head>
    <body>
        <div class="email">
          <h1 class="email-title">{{ post.blog.username }} created new post {{ post.title }}</h1>
          <a href="{% url 'posts:following-blogs-post-detail' slug=post.slug id=followed_by_user.id %}">Visit post page</a>
        </div>
    </body>
</html>
