{% extends "posts/base.html" %}

{% block content %}

<div class="col-md-6 col-md-offset-3">

    <h1>Confirm Post deletion</h1>

        <form method="POST" action="">

            {% csrf_token %}

            <input type="submit" class="btn btn-default"  value="submit">
        </form>

    {% endblock content %}

</div>