{% extends "posts/base.html" %}

{% block head_title %}Posts list{% endblock head_title %}

{% block content %}

    <div class="col-md-6 col-md-offset-3">

		{% for post in post_list %}
			<div class="thumbnail">
			  <div class="caption">

					<h3>
						<a href="{{ post.get_absolute_url }}" >{{ post.title }}</a> <small>{{ post.created }}</small>
					</h3>

					{% if post.updated %}
						<p> {{ post.updated }} </p>
					{% endif %}

			  </div>
			</div>
		{% endfor %}

   </div>


{% endblock content %}