{% extends "posts/base.html" %}

{% block head_title %}

    {{ post.title }}

{% endblock head_title %}

{% block content %}

    <div class="col-md-6 col-md-offset-3">

        <h1>{{ post.title }} by {{ post.blog.username }}</h1>

        <p>{{ post.article }}</p>
        <p>Post was read: {{ post.read_by.all.count }} times</p>

        {% if request.user.id != post.blog.id %}
            <p><a href="{% url 'posts:post-sign-read' slug=post.slug id=request.user.id %}">Sign Post Read</a> </p>
        {% endif %}
    </div>

{% endblock content %}