{% extends "posts/base.html" %}

{% block content %}

    <div class="col-md-6 col-md-offset-3">

        <h1>Create new post</h1>

            <form method="POST">

                {% csrf_token %}

                {{ form.as_p  }}

                <input type="submit" class="btn btn-default"  value="submit">
            </form>
    </div>

{% endblock content %}

