{% extends 'posts/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

    <div class="col-md-6 col-md-offset-3">

        <h1>Login</h1>

            <form method="POST" action="">

                {% csrf_token %}

                {{ form.as_p  }}

                <input type="submit" class="btn btn-default"  value="Login">
            </form>
    </div>

{% endblock content %}