{% extends "posts/base.html" %}

{% block head_title %}Blogs list{% endblock head_title %}

{% block content %}

    <div class="col-md-6 col-md-offset-3">

		{% for user in user_list %}
			<div class="thumbnail">
			  <div class="caption">

					<h3>
						<a href="{% url 'posts:post-list' id=user.id %}" >Blog {{ user.username }}</a>
					</h3>
                  <hr/>
                  <p>Followers: {{ user.followed_by.all.count }}</p>
                  <p>
                      <a href="{% url 'accounts:follow-blog' id=user.id %}">Follow</a>
                  </p>

			  </div>
			</div>
		{% endfor %}

   </div>


{% endblock content %}